* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  text-transform: capitalize;
}

/* Navbar-Footer container  */
.nav,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 23, 62);
  padding: 6px 15px;
}

.footer {
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 23, 62);
  color: white;
  padding: 6px;

  /* font-size: medium; */
}

/* navbar logo  */
.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* navbar logo image  */
.title-logo {
  width: 50px;
  height: 50px;
}

/* navbar links  */
.nav-link {
  text-decoration: none;
  color: rgb(241, 235, 235);
  font-size: large;
}
.nav-link:hover {
  color: rgb(137, 136, 136);
}

.container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 90px);
}

.dropdown-span:hover {
  /* background-color: skyblue; */
  color: rgb(15, 95, 214);
  padding: 4px 0;
  text-decoration: underline;
}

/* Login Form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efedee;
  margin: 50px;
}

.left {
  flex: 1.5;
  margin: 30px 50px;
}

.right {
  flex: 2;
}

.right img {
  width: 100%;
  height: 100%;
}
.inputfield {
  display: flex;
  flex-direction: column;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
}

.inputfield input,
.inputfield select {
  outline: 0;
  border: 0;
  margin: 6px 0;
  padding: 4px;
  font-size: 12px;
}

.inputfield:focus-within {
  border-color: #8c7569;
}

.inputfield:focus-within label {
  color: rgba(69, 52, 42, 0.8);
}

.inputfield input::placeholder {
  color: #ccc;
  opacity: 1;
  font-size: 14px;
}

.form-btn {
  padding: 1.2rem 3.2rem;
  margin-top: 1.2rem;
  outline: none;
  text-transform: uppercase;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #000000;
  transition: 0.3s;
  cursor: pointer;
}

.form-btn :hover {
  background: rgb(53, 49, 49);
}

@media (max-width: 750px) {
  .container {
    max-width: 90vw;
  }

  .right {
    display: none;
  }
}

/* Admin Page  */
.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
}
aside {
  background: #00a2f91e;
  /* background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%); */
  flex: 1;
  position: sticky;
  align-items: center;
  justify-content: center;
  left: 0;
  padding: 1rem;
}
main {
  overflow: auto;
  flex: 4;
  background-color: white;
  margin: 20px 20px 100px;
}
ul {
  list-style: none;
}
li {
  color: #000000;
}
.link-btn {
  background-color: black;
  padding: 10px 15px;
  width: 200px;
  color: white;
  border: none;
  border-radius: 6px;
  margin: 8px;
}
.link-btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 2px 4px 7px rgb(0, 23, 62);
}

@media (max-width: 500px) {
  .wrapper,
  .aside {
    flex-direction: column-reverse;
  }
  main {
    margin: 20px;
  }
  /* ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */
}
.wrapper_inner {
  width: 90%;
  margin: 0px auto;
}

/* Landing Page  */

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px 50px;
}
.box {
  background-color: rgb(0, 23, 62);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
}
.link {
  text-decoration: none;
  font-size: large;
  color: white;
  position: absolute;
  top: 40%;
  left: 35%;
}
.header {
  text-align: center;
  margin: 40px;
}
